<div class="cmp-card">
    <div class="cmp-card-image"><img src={{imageSource}} alt="{{missionName}}&nbsp;#{{flightNumber}}" width="200" height="200"></div>
    <div class="cmp-card-info">
        <div class="cmp-card-info-heading">{{missionName}}&nbsp;#{{flightNumber}}</div>
        <div class="cmp-card-info-otherDetails"><span>Mission IDs:</span>{{missionIDs}}</div>
        <div class="cmp-card-info-otherDetails"><span>Launch Year:</span>{{launchYear}}</div>
        <div class="cmp-card-info-otherDetails"><span>Successful Launch:</span>{{successfulLaunch}}</div>
        <div class="cmp-card-info-otherDetails"><span>Successful Landing:</span>{{successfulLanding}}</div>
    </div>
</div>
