/* You can add global styles to this file, and also import other style files */
@import './assets/global/scss/colors';

body {
    margin: 0;
    display: inline-grid;
    padding: 10px;
    background: $light-grey;
    width: -webkit-fill-available;
    width: -moz-available;
}
